/**h2 top 6px bottom 9px default*/
*{
  color:#FFF;
  margin: 0;
  padding: 0;
  font-size:16px;
  box-sizing: border-box;

}
html{
  height: 100%;
}

body{
  /*font-family: 'Poppins', sans-serif;*/
  font-family: 'Quicksand', sans-serif;
  /*background: #2D4046;*/
  background: #F0EFF0;

}
footer{
  background: grey;
  width: 100%;
  height: 300px;
}


:root {
    --tit-sha: 2px 2px rgba(0, 0, 0, 0.5);
    --fiber-carbon-texture: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    --fiber-carbon-size:10px 10px, 10px 10px, 10px 5px;
    --fiber-carbon-position: 0px 0px, 5px 5px, 0px 0px;
}

#button-dash{
  background-color: #2f2f28;
  background-image: var(--fiber-carbon-texture);
  background-size: var(--fiber-carbon-size);
  background-position: var(--fiber-carbon-position);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 20px 0 20px 0;
  width: 100%;
  margin:0 auto;

  /*box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);*/
}
h2{
  color: #1B3239;
  /*font-family: 'Notable', sans-serif;*/
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5em;
  /*font-weight: 200;*/
  margin-left: 25px;

}

 /*+++++++++++++++++++++++++++++++++Classes++++++++++++++++++++++++++++*/
.slideshow .slide-image-wrap .mySlides a img{
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.nav-list{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction:row;
  justify-content:space-around;
  /*background: #31A2AC;*/
  background-color: #2f2f28;
  background-image: var(--fiber-carbon-texture);
  background-size: var(--fiber-carbon-size);
  background-position: var(--fiber-carbon-position);

}
.nav-items{
  text-align:center;
  width:220px;
  padding:25px 0;
  color:white;
  text-decoration: none;
  font-size: 1.3em;
  transition: 500ms;
  font-weight: bold;

}
.nav-items:hover{
  background: rgba(0, 0, 0, 0.8);
  /*box-shadow: inset 0px 0px 16px  #38302E; */
  color: #af1c1c;
  font-size: 1.4em;
}
.nav-items:active{
  color: red;
}

/*.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:rgba(49, 162, 172, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 0px 8px 32px;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background: #AF1C1C;
}*/

/*.start-button{
  background: linear-gradient(to top, #abbaab, #ffffff);
  width:160px;
  height:160px;
  display:flex;
  border-radius:80px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  -webkit-tap-highlight-color: transparent;
}

.start-button-push{
  background: radial-gradient(ellipse at center, #ff0000, #cc0000);
  box-shadow: 0 0 10px black inset, 0px 0px 10px 0px rgba(0,0,0,0.75);
  width:145px;
  height:145px;
  margin:auto;
  border-radius:75px;
  cursor: pointer;
  user-select: none;
 
}
.start-button-push:active {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.8) inset, 0 2px 15px 0 rgba(0, 0, 0, 0.8) inset;
}*/
button{
  border:none;
  outline: none;
  transition:100ms linear;
}
.start-button{
  background: linear-gradient(to top, #abbaab, #ffffff);
  width:160px;
  height:160px;
  display:flex;
  border-radius:80px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  -webkit-tap-highlight-color: transparent;
}

.start-button-push{
  
  background: radial-gradient(ellipse at center, #ff0000, #cc0000);
  box-shadow:inset 10px 0px 50px 0px rgba(0,0,0,0.20), 
            inset -10px 0px 50px 0px rgba(0,0,0,0.20),
            inset 0px 10px 50px 0px rgba(0,0,0,0.20),
            inset 0px -10px 50px 0px rgba(0,0,0,0.20),
            1px 0px 2px 1px rgba(0,0,0,0.50), 
           -1px 0px 2px 1px rgba(0,0,0,0.50), 
            0px 1px 2px 1px rgba(0,0,0,0.50), 
            0px -1px 2px 1px rgba(0,0,0,0.50);
  width:145px;
  height:145px;
  margin:auto;
  border-radius:75px;
  cursor: pointer;
  user-select: none;


 
}
.start-button-push:active {
  box-shadow: inset 0 0px 15px 1px rgba(0, 0, 0, 0.50), 
              inset 0 -0px 15px 1px rgba(0, 0, 0, 0.50);
}
.start-button-light{
  width:35px;
  height:15px;
  background: black;
  margin:0 auto;
  border-radius:15px;
  border: inset 2px #bfbfbf;
  
}
.start-button-text{
  /*text-align:center;*/
  color:white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.engine{
  font-size:0.8em;
  margin-top:10px;
}
.start{
  font-size:1.5em;
  margin-top:10px; 

}
.stop{
  font-size:1.4em;
  /*margin-top:-8px;*/
}


.content {
  padding:0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
}
.slideshow{
  width:100%;
  position: relative;  
  user-select: none;
  background-color: rgb(32, 32, 32);
  background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
  background-size: 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 5px 5px, 0px 0px;

}
.slide-image-wrap{
  width:100%;
  box-sizing: border-box;

}
.mySlides {
  width: 100%;
  overflow: hidden;
}
.slide-text-wrap{
  /*font-family: 'Quicksand', sans-serif;*/
  font-family: 'Orbitron', sans-serif;
  /*font-weight: 700;*/
  padding: 40px 40px;
  background:rgba(0,0,0,0.4);
  position: absolute;
  bottom:20%;
  right: 0%;
  color:white;
  font-size: 2.8em;
  text-align: center;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bolder;
  font-size: 2em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;

}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(255,0,0,0.8);
}
.dot-container{
  text-align: center;
  padding: 5px 0;
}
.dot {
  cursor: pointer;
  height: 9px;
  width: 27px;
  margin: 0 10px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
}
/*.active, .dot:hover {
  background-color:red;
}*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}
.year-hilight{
  color:red;
  font-size: 1em;
}
.last-reviews{
  /*font-family: 'Coda', cursive;*/
  /*background: #1B3239;*/
  /*background: #979798;*/
  width: 100%;
  padding-top: 29px;
  padding-bottom: 20px;
  margin-top: 50px;
}
.last-reviews-divs{
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content:space-around;
  align-items: flex-end;

}
.last-reviews-divs a{
  text-decoration: none;
  margin-bottom: 20px;
}
.new-video-label{
  font-family: 'Orbitron', sans-serif;
  margin-left: 10px;
  color: #FFA500;
  animation-name: flash;
  animation: flash 3s  infinite;
}
@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
.thum-video-reviews{
  background-color: #2F2F28;
  background-image: var(--fiber-carbon-texture);
  background-size: var(--fiber-carbon-size);
  background-position: var(--fiber-carbon-position);
  padding:10px 10px 4px 10px;
  /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
  /*box-shadow: 0 3px 10px 0 rgba(0,0,0,20);*/
}
.thum-video-reviews img{
  border:1px solid #8c8c8c;
  margin: 0 auto;
  text-align: center;
}
.thum-video-reviews h3{
  font-family: 'Orbitron', sans-serif;
  color:#FFFFFF;
  font-size: 1.5em;
  /*text-shadow:1px 1px rgba(0, 0, 0, 0.5);*/
}
.last-reviews-tittle{
  /*text-align: center;
  font-size: 3em;*/
  /*text-shadow: 2px 2px rgba(0, 0, 0, 0.5); 
  text-shadow: var(--tit-sha);*/
}
.car-brands{
  /*background: #1B3239;*/
  width: 100%;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.car-brands-container{
  background: #31A2AC;
  height:210px;
  overflow: auto;
  white-space: nowrap;
  margin-top: 12px;
  cursor:grab;
  user-select: none;
  padding-top: 20px;
}
.car-brands-container a:first-child{
  margin-left: 20px;
}
.car-brands-container a:last-child{
  margin-right: 20px;
}
.car-brands-container a{
  display: inline-block;
  text-decoration: none;
  /*width:120px;
  height:160px;*/
  margin: 0 15px;
  vertical-align: middle;

}
.car-brands-container::-webkit-scrollbar {
    height: 10px;
}
.car-brands-container::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px grey; */
}
.car-brands-container::-webkit-scrollbar-thumb {
    background: #af1c1c;
    border-radius: 5px;
}
.car-brands-container::-webkit-scrollbar-thumb:hover {
    background: #ff0000;
}
.car-logo-vertical{
  width: 120px;
  height: 160px;

}
.car-logo-vertical:hover{
  transform:scale(1.2,1.2);
  transition: transform 0.3s;
}
.car-logo-horizontal{
  width: 160px;
  height: 120px;
  
}
.car-logo-horizontal:hover{
  transform:scale(1.2,1.2);
  transition: transform 0.3s;
}
.all-brands-tittle{
  /*font-family: 'Coda', cursive;
  text-align: center;
  font-size: 3em;*/
  /*text-shadow: 2px 2px rgba(0, 0, 0, 0.5); 
  text-shadow:var(--tit-sha);*/
}
.best-tittle{
  /*font-family: 'Coda', cursive;
  text-align: center;
  font-size: 3em;*/
  /*text-shadow: 2px 2px rgba(0, 0, 0, 0.5); 
  text-shadow:var(--tit-sha); */
}
.best-container{
  /*background: #1B3239;  */

  background: grey;
  width: 100%;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
}

/*++++++++++++++++++++++++++++++++++++ID'S+++++++++++++++++++++++++++++*/
#car-choice{
  width:100%;
  height:500px;
  /*background:#1B3239;*/
  background: grey;
  margin-top:30px;
}
#main-slide .slide-image-wrap .mySlides{
  height:0;
  padding-top: 56.25%;
}
#main-slide img{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /*box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);*/
}



@media only screen and (orientation: portrait) {



    
}
@media only screen and (max-width: 1200px){
.slide-text-wrap{
padding: 10px 10px;
bottom:0%;
width: 100%; 
}

}
@media only screen and (max-width: 800px){
.slide-text-wrap{
  font-size: 2.5em;
}

.nav-items{
     flex:1 1 50%;
  }
}


@media only screen and (max-width: 600px){
.slide-text-wrap{
  font-size: 2em;
}
.nav-items{
     flex:1 1 100%;
  }
.prev, .next {
  top:10%;
}

}

@media only screen and (max-width: 400px){
.slide-text-wrap{
  font-size: 1.5em;
}  
.last-reviews-divs{
  flex-direction:column;
}
.last-reviews-divs a{
  width: 100%;
}
.thum-video-reviews img{
width: 100%;
height: auto;
}
.prev, .next {
  top:13%;
}
#button-dash{
  width: 100%;
} 

}

/*++++++++++++++SUPER SMALL RESOLUTIONS+++++++++++*/
 @media only screen and (max-width: 240px){
.last-reviews-tittle{
  font-size: 18vw;
}
.all-brands-tittle{
  font-size: 18vw;
}
.prev, .next {
  top:19%;
  padding: 5px;
} 
.slide-text-wrap{
  font-size: 1.3em;
}

 }



